[submodule "python-lml"]
	path = python-lml
	url = https://github.com/soker90/aur-python-lml.git
[submodule "betcon"]
	path = betcon
	url = https://github.com/soker90/aur-betcon.git
[submodule "kickthemout-git"]
	path = kickthemout-git
	url = https://github.com/soker90/aur-kickthemout-git.git
[submodule "eclipse-i18n-es"]
	path = eclipse-i18n-es
	url = https://github.com/soker90/aur-eclipse-i18n-es.git
[submodule "netbeans-es"]
	path = netbeans-es
	url = https://github.com/soker90/aur-netbeans-es.git
