[submodule "python-lml"]
	path = python-lml
	url = git@github.com:soker90/aur-python-lml.git
[submodule "betcon"]
	path = betcon
	url = git@github.com:soker90/aur-betcon.git
[submodule "kickthemout-git"]
	path = kickthemout-git
	url = git@github.com:soker90/aur-kickthemout-git.git
[submodule "eclipse-i18n-es"]
	path = eclipse-i18n-es
	url = git@github.com:soker90/aur-eclipse-i18n-es.git
[submodule "netbeans-es"]
	path = netbeans-es
	url = git@github.com:soker90/aur-netbeans-es.git
[submodule "python-odfpy"]
	path = python-odfpy
	url = git@github.com:soker90/aur-python-odfpy.git
[submodule "python-pyexcel-io"]
	path = python-pyexcel-io
	url = git@github.com:soker90/aur-python-pyexcel-io.git
[submodule "python-pyexcel-ods"]
	path = python-pyexcel-ods
	url = git@github.com:soker90/aur-python-pyexcel-ods.git
[submodule "python-pyexcel"]
	path = python-pyexcel
	url = git@github.com:soker90/aur-python-pyexcel.git
[submodule "python2-aniso8601"]
	path = python2-aniso8601
	url = git@github.com:soker90/aur-python2-aniso8601.git
[submodule "python2-pynzb"]
	path = python2-pynzb
	url = git@github.com:soker90/aur-python2-pynzb.git
